*{
    font-family: 'Roboto','Times New Roman', 'serif';
}
html, body {
    margin: 0;
    padding: 0;
}

.button{
    transition-duration: 0.4s;
}
.button:hover{
    color:#3882f6;
    background-color: white;
}

section{
    padding: 20px 200px;
}
body{
    display: flex;
    flex-direction: column;
}
.navbar{
    padding:0px 200px;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    background-color: #1F2937;
    color:#f9faf8;
}

.left-container, .right-container{
    display:flex;
    align-items: center;
    gap: 18px;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.header-logo{
    font-size: 24px;
}

.hero{
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex:auto;
    background-color: #1F2937;
}

.hero-media{
    justify-content: flex-end;
    flex-shrink: 1;
}

.hero-media img{
    width: 100%; height: auto;
}
.hero-main{
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: space-between;
    text-align:justify;
    flex-basis: 300px;
    margin-right: 50px;
}
.hero p{
    font-size:18px;
    color: #e5e7eb;
}

.hero button{
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin:0px;
}

.info{
    display: flex;    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.info header{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    background-color: #fff;
    margin: 30px 0px;
}
.info .card{
    display: flex;
    justify-content: space-between;
    flex-basis: 300px;
}
.card div{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 200px;
}

.info .card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 70%;
}

.quote{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 40px 240px;
    background-color: #e5e7eb; 
    flex: auto;
}

.quote p{
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color:#1F2937;
    flex: auto;
    flex-wrap: wrap;
}
.quote .quoter{
    font-size: large;
    text-align: right;
    font-weight: bold;
    font-style: normal;
}

.container{
    padding: 60px 240px;
}
.banner{
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #3882f6;
    flex:auto;
    border-radius: 10px;
    padding: 20px 20px;
}

.banner button{
    display: block;
    text-align: center;
    width: 110px;
    border: white 1px solid;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    background-color: transparent;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}



footer{
    background-color: #1F2937;
    color: #fff;
    text-align: center;
}